.body-container {
    display: flex;
    flex-direction: column;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    
    background-color: lightgrey;
    padding: 40px;
  }
  
  .nav-item {
    display: block; 
    height: 50px;
    width: 50px;
  }
  
  /* 
  Proportionally adapt image to its container.
  That is, assume container controls the actual size.
  */
  img {
    width: 100%;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  
  .main-image {
    display: block;
    width: 25%;
    height: 25%;
  }
  
  